
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    background: #101820;
}

.header img {
    position: absolute;
    left: 11.8%;
    width: 255px;
    height: 100%;
}

#menu ul {
    position: absolute;
    left: 50%;
    top: 70%;
    padding: 0px;
    margin: 0px;
    font-size: 1.3em;
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 0px 10px;
    display: inline-block;
    /* visual do link */
    color: #7A8B9D;
    text-decoration: none;

}

#menu a:hover {
    color: #6D6D6D;
    border-bottom: 3px solid #1b708b;
}

body {
    background-color: #3D4450;
    font-family: "Motiva Sans", Sans-serif;
}

.inf {
    position: relative;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 2200px;
    background: linear-gradient(#23262E, #23262E);
    box-shadow: 8px 5px 5px black;
}

/* .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 300px;
} */
/* #jogos-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    left:-90px;
    top:16px;
    transform: translateX(-50%);
    width: 184px;
    height: 69px;
    border: solid 1px black;
    background-image: url(https://cdn.akamai.steamstatic.com/steam/apps/2534810/capsule_184x69.jpg?t=1697821555);
} */

#jogos-container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    grid-row: span;
    top:30px;
    grid-column-gap: 50px;
    grid-row-gap: 1em;
}

/* .game-image {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 250px;
    max-height: 250px;
    z-index: 1;
} */

/* Estilos para o contêiner dos jogos */
.jogo-container {
    position: relative;
}

#jogos-container p {
    box-shadow: 0 0 20px black;
    border-radius: 5px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 350;
    padding: 80px 30px 80px 30px;
    background: #7c7052;
    position: relative;
    cursor: pointer;
}

#jogos-container p:hover {
    background: #54a5d4;
    padding: 80px 30px 80px 30px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -80px 100px 0px inset, rgba(0, 0, 0, 0.15) 0px -56px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* Efeito de surgir de baixo para cima no hover */
/* #jogos-container p:hover {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none; 
}
 */

#divBusca {
    position: absolute;
    top: 20%;
    margin-left: 50px;
    background-color: #23262E;
    border: solid 1px black;
    border-radius: 5px;
    width: 260px;
}
#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    color: white;
    height: 32px;
    width: 250px;
}

.cat {
    position: absolute;
    top: 25%;
    left: 50px;
    height: 300px;
    width: 260px;
}

.cat h3 {
    display: block;
    margin-left: 10px;
    width: fit-content;
    color: #1b708b;
    font-size: 1.9em;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 550;
}

.cat p {
    display: block;
    margin-left: 10px;
    width: fit-content;
    color: #7A8B9D;
    font-size: 1.3em;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 550;
    cursor:pointer;
}

.cat p:hover {
    color: #54a5d4;
}

footer {
    position: absolute;
    top:2300px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    color:white;
    background: #101820;

}
footer p{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
